<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register</title>
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="logo">
      
      <!-- 
      <h1>Vali</h1>
       -->
      </div>
      
       <img src="images/logoReal6.png" width="150" height="150">
      <h5 style="font-family: Cambria Math; font-size: 20px; font-weight: bolder;margin-bottom: 0.5%;color: white;">AIO SMART CARD</h5>
      <div class="login-box">
        <form class="login-form" th:action="@{/users/addNew}" method="post">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN UP</h3>
         
          <div class="form-group">
            <input class="form-control" id="idfullname" name="fullname" type="text" placeholder="Full name" autofocus>
          </div>
         
          <div class="form-group">
            <input class="form-control" type="text" id="idusername" name="username" placeholder="Username" autofocus>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" id="password" name="password" placeholder="Password" autofocus>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" id="confirmPassword" placeholder="Confirm Passowrd" autofocus>
          </div>
          
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN UP</button>
            <p class="semibold-text mb-2"><a th:href="@{/login}" style="margin-left: 30%;">Back to Login</a></p>
          </div>
        </form>
        
      </div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <script src="assets/js/register.js"></script>
    <script type="text/javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
      	$('.login-box').toggleClass('flipped');
      	return false;
      });
      
      
      
      
      // MINE
      
      
      $('doucemnt').ready(function(){
	
	var password = document.getElementById("password")
	var confirmPassword = document.getElementById("confirmPassword");
	
	function validatePassword(){
	  if(password.value != confirmPassword.value) {
	    confirmPassword.setCustomValidity("Passwords Don't Match");
	  } else {
	    confirmPassword.setCustomValidity('');
	  }
	}	
	password.onchange = validatePassword;
	confirmPassword.onkeyup = validatePassword;	
})
      
    </script>
  </body>
</html>